@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.main {
 display: flex;
}


.left {
 display: flex;
 flex-direction: column;
 width: 600px;
 height: 650px;
 border-radius: 10px;
 background-color: rgb(255, 255, 233);
 margin: 80px;
 justify-content: left;
}

.title {
 font-size: 2rem;
 color: rgb(0, 0, 0);
 margin: 10px 50px;
}

.list {
 margin: 10px 50px;
 width: 500px;
 height: 600px;
}


.input {
 border: 1px solid black;
 margin: 15px 20px;
 width: 350px;
 height: 38px;
 font-size: 0.9rem;
 padding: 6px;
 border-radius: 5px;
}

.input:hover {
 border-radius: 5px;
 border: 3px solid black;
 transition: 0.1s;
 transform: scale(1.03);
}

.input:focus {
 outline: none;
}

.input2 {
 border-radius: 5px;
 border: 1px solid black;
 margin: 15px 20px;
 width: 350px;
 height: 65px;
 font-size: 0.9rem;
 padding: 6px;
 outline: none;
}

.input2:hover {
 border-radius: 5px;
 border: 3px solid black;
 transition: 0.1s;
 transform: scale(1.03);
 outline: none;
}

.input2.input:focus {
 outline: none;
}

.button {
 color: white;
 background-color: rgba(0, 0, 0, 0.920);
 border: 1px solid black;
 margin: 15px 20px;
 width: 350px;
 height: 38px;
 font-size: 1.1rem;
 padding: 6px;
 border-radius: 5px;
}

.button:hover {
 cursor: pointer;
 transition: 0.3s;
 background-color: rgba(0, 0, 0, 0.945);
}

.right {
 display: flex;
 flex-direction: column;
 width: 880px;
 border: 2px solid yellow;
 border-radius: 10px;
 background-color: rgb(255, 255, 233);
 margin: 30px 80px 0px 80px;
}

.orderSummary {
 margin: 5px 5px;
 height: 200px;
}

.header {
 display: flex;
 align-items: center;
 font-weight: bolder;
 height: 35px;
 padding: 5px;
 background-color: rgb(168, 168, 168);
}

.subTotal {
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-weight: bolder;
 height: 55px;
 padding: 5px;
 background-color: white;
 border-bottom: 1px solid gainsboro;
}

.subTotalFee {
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size: 1.1rem;
 color: rgb(0, 0, 0);
 font-weight: 100;
 padding-right: 20px;
}

.deliveryFee {
 display: flex;
 align-items: center;
 font-weight: bolder;
 height: 55px;
 padding: 5px;
 background-color: white;
 border-bottom: 1px solid gainsboro;
}

.Total {
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-weight: bolder;
 height: 55px;
 padding: 5px;
 padding-bottom: 10px;
 background-color: white;
}

.TotalFee {
 display: flex;
 align-items: center;
 font-family: 'Roboto Condensed';
 font-size: 1.8rem;
 font-weight: 350;
 padding-right: 10px;
 color: rgb(20, 131, 20);
}

.eachBook {
 height: 80px;
 border-bottom: 1px solid rgb(156, 156, 156);
 padding: 5px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 font-size: 1.2rem;
 font-weight: 800;
}

.bookName {
 max-width: 600px;
}

.bookAmount {
 font-family: 'Roboto Condensed';
 display: flex;
 align-items: center;
 width: 250px;
 height: 50px;
 font-weight: bold;
 justify-content: space-evenly;
}

.price {
 width: 100px;
 margin-left: 12px;
 display: flex;
 justify-content: right;
 font-size: 1.2rem;
 font-family: 'Roboto Condensed';
 font-weight: bold;
}

.header2 {
 display: flex;
 align-items: center;
 justify-content: space-between;
 font-weight: bolder;
 height: 35px;
 padding: 5px;
 background-color: rgb(168, 168, 168);
}

.header2Left {
 font-size: 1.2rem;
 font-weight: bolder;

}

.header2Right {

 display: flex;
 align-items: center;
 width: 250px;
 height: 50px;
 font-weight: bold;
 justify-content: space-between;
 padding: 0px 38px;
}


.header2RightRight {
 margin-right: 20px;
}