@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC";

}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1E2329;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout-header {
  height: 100px;
  background-color: #0B0E11;
  color: white;
  margin-bottom: 20px;
}

.header-container {
  list-style-type: none;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5vw;
  font-weight: 200;
}



.booklist {
  text-align: center;
  font-size: 1.5vw;
  font-weight: 200;
  color: rgb(255, 219, 61)
}

.booklist:hover {
  text-underline-offset: 20px;
  text-decoration: underline 0.05vw rgb(255, 219, 61);
  transition: 1.2s;
}

.resizeShoppingCart {
  width: 2vh;
  height: auto;
}

.resizeLogin {
  width: 2vh;
  height: auto;
}

.resizeHome {
  width: 2vh;
  height: auto;
}

.bookContainer {
  display: flex;
  flex-wrap: wrap;
}

.bookDisplay {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width: 260px;
  margin: 20px;
  border: 3px solid rgb(255, 219, 61);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.bookTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  padding: 0px 5px;
  height: 180px;
  width: 220px;
}

.bookAuthor {
  font-weight: bolder;
  font-size: 1rem;
  padding: 20px 0px;
}

.bookPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 180px;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(255, 52, 52);
  color: white;
  font-size: 1.35rem;
  font-weight: 500;
}

.bookImage {
  padding-bottom: 10px;
  border-bottom: 3px solid black;
  width: 150px;
  height: 200px;
}

.underline {
  text-underline-offset: 20px;
  text-decoration: underline 0.15em rgb(255, 219, 61);
  transition: 300ms;
}


.BookPage {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 1000px;
}

.BookPage .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 254);
  height: 750px;
  width: 30%;
  border-radius: 6px;
}

.BookPage .mid {
  border: 2px solid rgb(0, 0, 0);
  background-color: white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 750px;
  width: 50%;
}

.BookPage .mid .bookname {
  display: flex;
  font-size: 2vw;
  font-weight: bold;
  height: 15%;
  width: 80%;
  align-items: center;
  text-align: left;
}

.BookPage .mid .bookInfo {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 300px;
  width: 80%;
  border-top: 1px double rgb(61, 61, 61);
  padding: 20px 0px;
  gap: 20px;
  font-weight: bold;
}

.BookPage .mid .bookInfo .spacing {
  display: flex;
  align-items: center;
  margin: 1.5px;
}




.addToCart {
  width: 50%;
  height: 5%;
  font-size: 1rem;
  background: #9ee5ff;
  font-weight: bold;
  border-radius: 6px;
  border: 2px solid black;
  cursor: pointer;
}

.addToCart:hover {
  background-color: #2980b9;
  transition: 0.3s
}



.spacing {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
}

.inline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100px;
  width: 500px;
}

.addAmount {
  font-family: 'Poppins';
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: white;
  border: 2px solid black;
}

.addAmount span {
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.addAmount span.num {
  font-size: 20px;
  border-right: 2px solid rgb(0, 0, 0, 0.2);
  border-left: 2px solid rgb(0, 0, 0, 0.2);
}

.addAmount span.minus {
  cursor: pointer;
}

.addAmount span.plus {
  cursor: pointer;
}

.Bookimg {
  width: 80%;
  height: auto;
}

@media (max-width: 500px) {
  .layout-header {
    width: 100%;
    height: 80px;
    background-color: #0B0E11;
    color: white;
    margin-bottom: 20px;
  }

  .header-container {
    list-style-type: none;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8vw;
    font-weight: 200;
  }

  .booklist:hover {
    text-underline-offset: 20px;
    text-decoration: none;
    transition: 1.2s;
  }

  .bookContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .resizeHome {
    width: 1vh;
    height: auto;
  }

  .bookDescription {
    font-size: 1vw;
  }

  .inline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100px;
    width: 100%;
    font-size: 1rem;
  }

  .addAmount {
    width: 50%;

  }
}